@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Luckiest+Guy&display=swap');

body {
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}